<%= form_for @player do |f| %>

<p><%= f.label :name %>
<%= f.text_field :name %></p>

<p><%= f.label :age %>
<%= f.number_field :age %></p>

<% @teams.each do |team| %>
  <p><%= f.radio_button :team_id, team.id %>
  <%= f.label :team_id, "#{team.name}" %></p>
<% end %>


<p><%= f.submit "Create Player" %></p>

<% end %>